body{
    background-color:rgb(125, 133, 252);
    }

header{
        background-position: center center;
        background-size: 150%;
        background-color: blue;
        color: rgb(61, 5, 75);
        width: 1324px;
        height: 100px;
        margin: 5px auto;
        text-align: center;
        border-radius: 10px;
        }
      #link1{
            height: 5px;
            width: 10px;
            background-color: rgb(61, 4, 4);
            border: 2px solid white;
            border-radius: 10px;
            font: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            color: white;
        }  
        #link2{
            height: 5px;
            width: 10px;
            background-color: rgb(61, 4, 4);
            border: 2px solid white;
            border-radius: 10px;
            font: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            color: white;
        }  
        #link3{
            height: 5px;
            width: 10px;
            background-color: rgb(61, 4, 4);
            border: 2px solid white;
            border-radius: 10px;
            font: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            color: white;
        }  
        #link4{
            height: 5px;
            width: 10px;
            background-color: rgb(61, 4, 4);
            border: 2px solid white;
            border-radius: 10px;
            font: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            color: white;
        }  
        #link5{
            height: 5px;
            width: 10px;
            background-color: rgb(61, 4, 4);
            border: 2px solid white;
            border-radius: 10px;
            font: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            color: white;
        }  
        #link6{
            height: 5px;
            width: 10px;
            background-color: rgb(61, 4, 4);
            border: 2px solid white;
            border-radius: 10px;
            font: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            color: white;
        }  
        
#linkhub{
            width: 250px;
            padding: 10px;
            border: 2px double rgb(75, 7, 71);
            margin: 5px auto;
            border-radius: 10px;
            width: 1324px;
            background-color: rgb(46, 7, 7);
        }
#tabletime{
    width: 500px;
    padding: 10px;
    border: 2px double azure;
    margin: 5px;
    background-color: crimson;
    border-radius: 10px;
    margin: 5px auto;
}
#games{
    border: 2px solid rgb(60, 16, 90);
    border-radius: 10px;
    background-color: purple;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-position: center center;
    margin: 5px auto;
}
#characters{
    border: 2px solid rgb(60, 16, 90);
    border-radius: 10px;
    background-color: purple;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-position: center center;
    margin: 5px auto;
}
table{
    background-color: blueviolet;
    text-align: center;
    margin: 5px auto;
}
h2{
    margin: 5px auto;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
#lists{
    background-color: rgb(46, 7, 7);
    color: white;
    margin: 5px auto;
    width: 500px;
}
#intro{
    margin: 5px auto;
    border: 2px solid black;
    background-color: rgb(46, 7, 7);
    color: white;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}